.widgt-1 {
  padding: 10px 20px;
  background: #ccc;
  border-radius: 8px;
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}
.widgt-1.bg-2 {
  background-color: #15b374;
}
.widgt-1.bg-3 {
  background-color: #673ab7;
}
.widgt-1.bg-1 {
  background-color: #2196f3;
}
